# Database Operations

### Importing necessary statements

##### Install psycopg2-binary

* 'psycopg2-binary' helps you avoid the need to compile 'psycopg2' from source.
*  Run: `pip install psycopg2-binary` in your terminal/command prompt.

In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#This imports the pandas library, a popular tool for data manipulation and analysis in Python.
import pandas as pd

#Imports the psycopg2 library, which provides the functionality to connect and interact with PostgreSQL databases.
import psycopg2 

#It helps create dynamic SQL queries in a safe way by avoiding SQL injection, ensuring safer parameterized query execution.
from psycopg2 import sql

### Input File paths

In [3]:
leads_cleaned_data_path = '../Inputs/leads_cleaned_data.xlsx'
leads_in_review_data_path = '../Inputs/leads_in_review_data.xlsx'

###  Clean DataFrame column names for SQL compatibility

In [4]:
# Function to clean column names (rename for SQL compatibility)
def clean_column_names(df):
    df.columns = df.columns.str.replace(' ', '_')  # Replacing spaces with underscores
    return df

<span style = "color:blue;font-size:14px" > [Note]There are some columns like 'country code' and 'cleaned phone number' where the function removes the spaces between words to make them compatible with SQL. This ensures that the column names are SQL-friendly by replacing spaces with underscores. </span>

### Function to load data and insert it into PostgreSQL

In [5]:
# Function to load data and insert it into PostgreSQL
def insert_data(cursor, conn, df, table_name):
    # The unique_id column is already present in the DataFrame
    columns = df.columns.tolist()  # Get the column names from the DataFrame

    # Create SQL insert query dynamically based on the table name and column names
    insert_query = sql.SQL('INSERT INTO {} ({}) VALUES ({}) ON CONFLICT (unique_id) DO NOTHING').format(
        sql.Identifier(table_name),
        sql.SQL(', ').join(map(sql.Identifier, columns)),
        sql.SQL(', ').join(sql.Placeholder() * len(columns))
    )

    # Insert the data from the DataFrame into the table
    cursor.executemany(insert_query.as_string(cursor), df.values.tolist())
    conn.commit()
    print(f"Data inserted into {table_name}")

### Function for tests

In [6]:
# Function to test PostgreSQL connection, create tables, and insert data
def test_postgresql_connection(host, port, database, user, password):
    conn = None
    try:
        # Establish the connection
        conn = psycopg2.connect(
            host=host,
            port=port,
            dbname=database,
            user=user,
            password=password
        )
        cursor = conn.cursor()

        # Execute a simple query
        cursor.execute("SELECT version();")
        version = cursor.fetchone()
        print(f"Connected to PostgreSQL. Server version: {version[0]}")

        # Get additional connection information
        cursor.execute("SELECT current_database();")
        db_name = cursor.fetchone()
        cursor.execute("SELECT current_user;")
        user_name = cursor.fetchone()
        print(f"Successfully connected to {db_name[0]}")
        print(f"Database: {db_name[0]}")
        print(f"User: {user_name[0]}")

        # Create the 'leads_cleaned' table
        create_cleaned_table_query = """
        CREATE TABLE IF NOT EXISTS leads_cleaned (
            id SERIAL PRIMARY KEY,
            firma VARCHAR(500),  
            street VARCHAR(500), 
            plz VARCHAR(20),     
            city VARCHAR(500),   
            telefon VARCHAR(100),  
            country VARCHAR(50),
            country_code VARCHAR(20), 
            cleaned_phone_number VARCHAR(100),  
            flag VARCHAR(50),
            salutation VARCHAR(100),
            first_name VARCHAR(100),
            surname VARCHAR(100),
            digit_length DOUBLE PRECISION,   
            firma_length DOUBLE PRECISION,
            unique_id VARCHAR(100) UNIQUE  -- Add unique_id column with UNIQUE constraint
        );
        """
        cursor.execute(create_cleaned_table_query)
        print("Table 'leads_cleaned' created or already exists.")

        # Create the 'leads_in_review' table
        create_review_table_query = """
        CREATE TABLE IF NOT EXISTS leads_in_review (
            id SERIAL PRIMARY KEY,
            firma VARCHAR(500),
            street VARCHAR(500),
            plz VARCHAR(20),
            city VARCHAR(500),
            telefon VARCHAR(100),
            country VARCHAR(50),
            country_code VARCHAR(20),
            cleaned_phone_number VARCHAR(100),
            flag VARCHAR(50),
            salutation VARCHAR(100),
            first_name VARCHAR(100),
            surname VARCHAR(100),
            digit_length DOUBLE PRECISION,   
            firma_length DOUBLE PRECISION,
            unique_id VARCHAR(100) UNIQUE  -- Add unique_id column with UNIQUE constraint
        );
        """
        cursor.execute(create_review_table_query)
        print("Table 'leads_in_review' created or already exists.")

        # Commit the transaction to save changes
        conn.commit()

        # load the data from and insert it into the tables
        # Load and clean data for leads_cleaned
        leads_cleaned_data = clean_column_names(pd.read_excel(leads_cleaned_data_path))
        leads_in_review_data = clean_column_names(pd.read_excel(leads_in_review_data_path))

        # Insert the data into both tables
        insert_data(cursor, conn, leads_cleaned_data, 'leads_cleaned')
        insert_data(cursor, conn, leads_in_review_data, 'leads_in_review')

    except Exception as e:
        print(f"Error while connecting to PostgreSQL: {e}")

    finally:
        if conn:
            cursor.close()
            conn.close()
            print("PostgreSQL connection is closed")


# Database credentials
admin_host = "data-mgmt-dev-movido-c44b.l.aivencloud.com"
admin_port = 25680
admin_database = "bc56a305-2e83-465b-915e-1a243ff67b41"
target_user = "baghirli_exam"
target_user_password = "AVNS_6BV84RAeLbUKqUO7llr"

# Test the connection, create tables, and insert data
test_postgresql_connection(admin_host, admin_port, admin_database, target_user, target_user_password)

Connected to PostgreSQL. Server version: PostgreSQL 16.4 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 13.3.1 20240522 (Red Hat 13.3.1-1), 64-bit
Successfully connected to bc56a305-2e83-465b-915e-1a243ff67b41
Database: bc56a305-2e83-465b-915e-1a243ff67b41
User: baghirli_exam
Table 'leads_cleaned' created or already exists.
Table 'leads_in_review' created or already exists.
Data inserted into leads_cleaned
Data inserted into leads_in_review
PostgreSQL connection is closed

In [7]:
def run_query_with_pandas(host, port, database, user, password, query):
    try:
        # Connect to PostgreSQL
        conn = psycopg2.connect(
            host=host,
            port=port,
            dbname=database,
            user=user,
            password=password
        )
        cursor = conn.cursor()

        # Execute the query
        cursor.execute(query)

        # Fetch all rows
        results = cursor.fetchall()

        # Get column names
        colnames = [desc[0] for desc in cursor.description]

        # Create a DataFrame to display the results
        df = pd.DataFrame(results, columns=colnames)
        print(df)

    except Exception as e:
        print(f"Error while running the query: {e}")

    finally:
        if conn:
            cursor.close()
            conn.close()
            print("PostgreSQL connection is closed")

### Some Queries

In [8]:
# Queries for leads_cleaned

# Query 1: Select all data from leads_cleaned
query_1_cleaned = "SELECT * FROM leads_cleaned LIMIT 10;"  # Limiting to 10 for display

# Query 2: Count the number of rows in leads_cleaned
query_2_cleaned = "SELECT COUNT(*) AS total_rows FROM leads_cleaned;"

 

# Queries for leads_in_review

# Query 1: Select all data from leads_in_review
query_1_review = "SELECT * FROM leads_in_review LIMIT 10;"  # Limiting to 10 for display

# Query 2: Count the number of rows in leads_in_review
query_2_review = "SELECT COUNT(*) AS total_rows FROM leads_in_review;"



# Run queries for leads_cleaned
print("Running queries for leads_cleaned table:\n")
run_query_with_pandas(admin_host, admin_port, admin_database, target_user, target_user_password, query_1_cleaned)
run_query_with_pandas(admin_host, admin_port, admin_database, target_user, target_user_password, query_2_cleaned)


# Run queries for leads_in_review
print("\nRunning queries for leads_in_review table:\n")
run_query_with_pandas(admin_host, admin_port, admin_database, target_user, target_user_password, query_1_review)
run_query_with_pandas(admin_host, admin_port, admin_database, target_user, target_user_password, query_2_review)

Running queries for leads_cleaned table:

   id                                              firma  \
0   1                            Abschleppdienst Arnolds
1   2                                      AAS-Fink GmbH
2   3                          Allfolia Deutschland GmbH
3   4                              Autohaus Schmohl GmbH
4   5           Autohaus Stürmeyer, Inh. Juri Düsterhoft
5   6       Autohaus Thomas Thies, Inhaber: Thomas Thies
6   7                              Autohaus Musberg GmbH
7   8                        Klingler Fahrzeugtechnik AG
8   9  König Wilhelm Autoteile - Einbrodt & Schubert GbR
9  10                             Autoverwertung Kabashi

                  street    plz                     city  \
0  Völlesbruchstrasse 19  52152                Simmerath
1            Morsbach 39  42857                Remscheid
2            Morsbach 39  42857                Remscheid
3     Potsdamer Str. 175  14469                  Potsdam
4         Hauptstraße 19  26897               Esterwegen
5           Hauptstr. 12  24641               Stuvenborn
6            Steinstr. 2  70771  Leinfelden-Echterdingen
7           Galgenried 2   6370                    Stans
8            Dahlweg 122  48153                  Münster
9           Eibseeweg 1A  70378                Stuttgart

                      telefon country country_code cleaned_phone_number  \
0             0049177-8754883      DE           49           1778754883
1                 172.2086056      DE           49           1722086056
2               +491734636476      DE           49           1734636476
3            0049/160466 6050      DE           49           1604666050
4            0049/175116 5373      DE           49           1751165373
5              00491735330785      DE           49           1735330785
6              00491750397296      DE           49           1750397296
7             0049174-8987808      DE           49           1748987808
8              00491600795434      DE           49           1600795434
9  Hotline: 178-0099678 (+49)      DE           49           1780099678

    flag salutation first_name  surname  digit_length  firma_length  \
0  valid    No data    No data  No data          10.0          23.0
1  valid    No data    No data  No data          10.0          13.0
2  valid    No data    No data  No data          10.0          25.0
3  valid    No data    No data  No data          10.0          21.0
4  valid    No data    No data  No data          10.0          40.0
5  valid    No data    No data  No data          10.0          44.0
6  valid    No data    No data  No data          10.0          21.0
7  valid    No data    No data  No data          10.0          27.0
8  valid    No data    No data  No data          10.0          49.0
9  valid    No data    No data  No data          10.0          22.0

    unique_id
0   cleaned_1
1   cleaned_2
2   cleaned_3
3   cleaned_4
4   cleaned_5
5   cleaned_6
6   cleaned_7
7   cleaned_8
8   cleaned_9
9  cleaned_10
PostgreSQL connection is closed
   total_rows
0        3722
PostgreSQL connection is closed

Running queries for leads_in_review table:

   id                                             firma  \
0   1                           Autohaus Hentschel GmbH
1   2                             Autohaus Siegmar GmbH
2   3                    Autohaus Zückner GmbH & Co. KG
3   4                                       Auto Böhler
4   5               EJP Frank Bach & Katarzyna Bach GbR
5   6  BREMSKERL-REIBBELAGWERKE Emmerling GMBH & CO. KG
6   7                               Werner Bölling GmbH
7   8            ratioparts® Ersatzteile-Vertriebs GmbH
8   9                          Robert Neugebauer & Sohn
9  10                               Autohaus Peene GmbH

                                     street    plz        city  \
0                     Vahrenwalder Str. 141  30165    Hannover
1                    Anton-Erhardt-Straße 5   9117    Chemnitz
2                             Gildestraße 5  91154        Roth
3                              Ottostraße 6  76227   Karlsruhe
4                       Elisabethstrasse 24   2826     Görlitz
5                               Brakenhof 7  31629      Estorf
6                               Klutestr. 3  59063        Hamm
7  IPAS Industriegebiet - Barentsstrasse 17  53881  Euskirchen
8                   Atzendorfer Straße 4a-6  39418    Staßfurt
9                     An den Bäckerwiesen 1  17489  Greifswald

                              telefon country country_code  \
0         +49_x001D_17_x0011_86221169      DE           49
1  +_x001D__x0004_49179_x0008_9703167      DE           49
2                     0049176-9142078      DE           49
3          /179/00182_x000C__x0007_38      DE           49
4          Hotline: 176-0699874 (+49)      DE           49
5     Telefon: 00 457 CALL 8976 / 173      DE           49
6                       +491521029742      DE           49
7          Hotline: 152-2217051 (+49)      DE           49
8                        /152/6516945      DE           49
9                         176.9029428      DE           49

    cleaned_phone_number      flag salutation first_name  surname  \
0        117001186221169  bad data    No data    No data  No data
1  100044917900089703167  bad data    No data    No data  No data
2             1769142078  bad data    No data    No data  No data
3      17900182000000738  bad data    No data    No data  No data
4             1760699874  bad data    No data    No data  No data
5             4578976173  bad data    No data    No data  No data
6             1521029742  bad data    No data    No data  No data
7             1522217051  bad data    No data    No data  No data
8             1526516945  bad data    No data    No data  No data
9             1769029428  bad data    No data    No data  No data

   digit_length  firma_length unique_id
0          15.0          23.0     bad_1
1          21.0          21.0     bad_2
2          10.0          30.0     bad_3
3          17.0          11.0     bad_4
4          10.0          35.0     bad_5
5          10.0          48.0     bad_6
6          10.0          19.0     bad_7
7          10.0          38.0     bad_8
8          10.0          24.0     bad_9
9          10.0          19.0    bad_10
PostgreSQL connection is closed
   total_rows
0         384
PostgreSQL connection is closed

*For the integration of my datasets (cleaned_data and bad_data) into a PostgreSQL database, I followed a structured approach. First, I ensured that both datasets were cleaned and properly structured, then I added a unique_id column to each dataset to uniquely identify each row during the database insertion process, preventing conflicts or duplication.

*One of the main challenges I encountered was the issue of data being overwritten every time I ran the insertion code. Initially, using an auto-incrementing id as the primary key did not prevent duplicate rows, as the id was generated for each new row, even if the data was identical. This led to redundant data being inserted into the tables. Additionally, I faced an issue with column value lengths, which resulted in errors, so I increased the VARCHAR length for certain columns (such as firma and street) to accommodate larger values.

*To resolve these issues, I dropped the tables and recreated them with an extended VARCHAR length and a unique_id column to uniquely identify rows. I applied a UNIQUE constraint to the unique_id column (this is done in Data Cleaning file) and used the ON CONFLICT clause in my insertion queries, ensuring that rows with the same unique_id would not be inserted multiple times.

*Finally, I successfully inserted both datasets (cleaned_data into the leads_cleaned table and bad_data into the leads_in_review table) without any duplication or data conflicts. This approach maintained data integrity and ensured efficient data insertion.